{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/icon2.jpg' %}">

    <link rel="stylesheet" href="{% static 'css/style-story1.css' %}">
</head>
<body>
    <div class="container-out">

        <div class="header">
            <h1>Anggito's Profile...</h1>
        </div>

        <div class="container-in">
            <div class="sidebar">
                <h2 align="center">About Me</h2>

                <img src="{% static 'img/self-photo.jpg' %}" alt="self-photo">
    
                <div class="biodata">
                    <table>
                        <tr>
                            <td><b>Name</b></td>
                            <td>Antonius Anggito Arissaputro</td>
                        </tr>
                        <tr>
                            <td><b>Student ID</b></td>
                            <td>1906292912</td>
                        </tr>
                        <tr>
                            <td><b>Birth Date</b></td>
                            <td>Jakarta, 22<sup>nd</sup> June 2001</td>
                        </tr>
                        <tr>
                            <td><b>Class Of</b></td>
                            <td>2019</td>
                        </tr>
                        <tr>
                            <td><b>Study</b></td>
                            <td>Universitas Indonesia</td>
                        </tr>
                    </table>
                </div>

                <div class="media" align="center">
                    <a href="mailto: antoniusanggito@gmail.com" target="_blank"><img src="{% static 'img/gmail.png' %}" alt="gmail"></a>
                    <a href="https://www.instagram.com/antoniusanggito/" target="_blank"><img src="{% static 'img/instagram.png' %}" alt="instagram"></a>
                    <a href="https://www.linkedin.com/in/antonius-anggito-arissaputro-b6b971195/" target="_blank"><img src="{% static 'img/linkedin.png' %}" alt="linkedin"></a>
                    <a href="https://github.com/antoniusanggito" target="_blank"><img src="{% static 'img/github.svg' %}" alt="github"></a>
                </div>
            </div>
    
            <div class="main">
                <div class="description">
                    <h3>Description</h3>
                    <hr>
                    <p>Second year computer science student, currently taking Web Designing and Programming course.</p>
                    <p>I have various hobbies as listed below. I don't really play many games other than Pokemon.</p>
                </div>

                <div class="hobby">
                    <h3>My Hobbies</h3>
                    <hr>
                    <div class="hobby-in">
                        <img src="{% static 'img/chess.jpg' %}" alt="chess">
                        <div class="overlay">
                            <div class="text">Chess</div>
                        </div>
                    </div>
                    <div class="hobby-in">
                        <img src="{% static 'img/guitar.png' %}" alt="guitar">
                        <div class="overlay">
                            <div class="text">Guitar</div>
                        </div>
                    </div>
                    <div class="hobby-in">
                        <img src="{% static 'img/badminton.jpg' %}" alt="badminton">
                        <div class="overlay">
                            <div class="text">Badminton</div>
                        </div>
                    </div>
                </div>

                <div class="history">
                    <h3>Education History</h3>
                    <hr>
                    <ul>
                        <li>SD Mardi Yuana (2007-2010)</li>
                        <li>SD Strada Wiyatasana (2010-2013)</li>
                        <li>SMP Strada Marga Mulia (2013-2016)</li>
                        <li>SMA Kolese Gonzaga (2016-2019)</li>
                        <li>Universitas Indonesia (2019-now)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
