{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="project">
        <h2>Here are my <span>past projects</span></h2>
        <hr class="orange-line">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-sm-offset-2 project-list">
                <a href="https://github.com/antoniusanggito/web-gonz" target="_blank">
                <h4>Gonzaga Festival <span>Website</span></h4>
                <img src="{% static 'img/gonzfest.jpg' %}" alt="gonzfest-thumbnail">
                <p>I lead a team to create a website for Gonzaga College's yearly festival of 2018.</p>
                <p>Created by using HTML, CSS, JS, and PHP.</p>
                </a>
            </div>
            <div class="col-sm-4 col-sm-offset-2 project-list">
                <a href="https://github.com/antoniusanggito/Pokemon-Lite" target="_blank">
                <h4><span>Pokemon</span>-Lite</h4>
                <img src="{% static 'img/pokemonlite.jpg' %}" alt="pokemonlite-thumbnail">
                <p>A lite command line - based of pokemon gba adventure game. Trying to implement as many things as possible into the program.</p>
                <p>Created by using Python.</p>
                </a>
            </div>
            <div class="col-sm-4 col-sm-offset-2 project-list">
                <a href="https://github.com/garyteofanus/pokeproject" target="_blank">
                <h4>Poke<span>Project</span></h4>
                <img src="{% static 'img/pokeproject.png' %}" alt="pokeproject-thumbnail">
                <p>My Foundation of Programming 2 group's mini project. Creating a website that implements Pokemon API in making fun trivia.</p>
                <p>Created by using Java, Springboot, Thymeleaf, HTML, and CSS</p>
                </a>
            </div>
            <div class="col-sm-4 col-sm-offset-2 align-self-center project-list">
                <h2 style="margin: 50% 20px;"><span>More</span> Coming Soon <span>. . .</span></h2>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}