
/* General Section */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #293241;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    margin: 0px;
    scroll-behavior: smooth;
}

.my-container {
    min-width: 100%;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-weight: bolder;
    font-size: 5.7vw;
    text-shadow: 2px 2px black;
    bottom: 11vw;
}

h3 {
    font-weight: lighter;
    font-size: 3vw;
    position: absolute;
    bottom: 7vw;
}


/* Navbar Section */
.navbar {
    margin: 0px;
    background-color: #EE6C4D;
    font-weight: bold;
    max-width: 100%;
    min-height: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: white;
    padding: 10px 12px;
    margin: 2px;
    text-decoration: none;
    transition: .3s;
    border-radius: 5px;
}

.navbar #myLinks {
    display: inline-block;
}

.navbar a:hover {
    background-color: #ffffff;
    color: #EE6C4D;
    /* font-weight: lighter; */
}

.navbar a.icon {
    display: none;
}


/* Front Page Section */
#front-page {
    position: relative;
    background-image: url('../img/front-photo-good.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vw;
}

.white-line {
    height: 1.5px;
    background: #ffffff;
    width: 39%;
    bottom: 12vw;
}

span {
    color: #EE6C4D;
}

.center-on-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}


/* About Section */
#about {
    margin: 50px 12.5% 10px 12.5%;
}

.about-img {
    width: 125px;
}

.right-border {
    border-right: 3px solid #EE6C4D;
}

.skill-icon {
    width: 60px;
    border-radius: 10px;
}


.about a {
    text-decoration: none;
}

a h5 {
    color: #EE6C4D;
    transition: .3s;
}

a svg {
    fill: #EE6C4D;
    width: 30px;
}

a h5:hover {
    color: #293241;
}

a svg:hover {
    fill: #293241;
    transform: scale(1.2);
}


/* Project Section*/
.project {
    padding: 50px 15%;
    background-image: linear-gradient(#ffffff, #EE6C4D);
    text-align: center;
}

.project h2 {
    text-align: center;
}

.orange-line {
    background: #EE6C4D;
    height: 2px;
    width: 25%;
    border-radius: 25px;
    margin-bottom: 15px;
}

.project-list {
    position: relative;
    padding: 0;
    border: 2px solid #293241;
    box-shadow: 3px 3px 5px 5px #293241;
    margin: 20px;
    background-color: #ffffff;
    min-width: 200px;
    min-height: 200px;
    filter: brightness(90%);
    transition: .3s;
    color: #293241;
}

.project-list a {
    text-decoration: none;
    color: #293241;
}

.project-list:hover {
    filter: brightness(100%);
}

.project-list img {
    width: 100%;
}

.project-list h4 {
    margin: 20px;
}

.project-list p {
    margin: 20px;
}

/* Hobby Section */
#hobby {
    font-weight: bold;
    background-image: linear-gradient(#ffffff, #EE6C4D);
    padding: 5vw;
}

.hobby-section {
    padding-top: 30px;
    background-color: #293241;
    max-width: 300px;
    margin: 0 auto;
    border: 3px solid #EE6C4D;
    border-radius: 40px;
    text-align: center;
    box-shadow: 3px 3px 5px 5px #293241;
}

.hobby-img {
    width: 225px;
    align-items: center;
    border-radius: 30px;
}

.hobby-title {
    color: #EE6C4D;
    margin-top: 10px;
    margin-bottom: 0;
}

.hobby-desc {
    color: #ffffff;
    margin-top: 0;
    padding: 10px;
    font-weight: lighter;
}


/* Contact Section */
#contact {
    min-width: 100%;
    border-top: 3px;
    box-shadow: 0 0 15px 0 #293241;
    background-color: #293241;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    place-items: center;
    text-align: center;
}

.contact-icon {
    padding: 5px;
}

.contact-svg {
    padding: 3px;
    width: 35px;
    fill: #ffffff;
    transition: transform .3s;
}

.contact-svg:hover {
    fill: #EE6C4D;
}

.mobile-line {
    display: none;
    background: #EE6C4D;
    height: 2px;
    width: 20%;
    border-radius: 25px;
    margin-bottom: 0px;
}

/* Form Section */
.form {
    background-image: linear-gradient(#ffffff, #EE6C4D);
    padding: 50px 20%;
}

.form-section {
    padding: 40px 10%;
    background-color: #293241;
    color: white;
    border: 3px solid #EE6C4D;
    border-radius: 40px;
    box-shadow: 3px 3px 5px 5px #293241;
}

.btn-submit {
    display: block;
    margin: 30px auto 0 auto;
    width: 100px;
    height: 35px;
    background-color: #293241;
    border: 2px solid #EE6C4D;
    border-radius: 25px;
    transition: .2s;
    color: #EE6C4D;
}

.btn-submit:hover {
    background-color: #EE6C4D;
    color: #293241;
    font-weight: bold;
}


/* Course Section */
.course {
    margin: 50px 12.5%;
}

.course h4 {
    margin-top: 30px;
    color: #EE6C4D;
}

.course-section {
    border: 1px solid darkgrey;
    border-radius: 25px;
    padding: 20px;
    transition: .1s;
}

.course-section:hover {
    border: 1px solid #EE6C4D;
}

.course-section h4 {
    display: inline;
}

.course-section a {
    color: rgb(160, 160, 160);
    text-decoration: none;
    transition: .3s;
}

.course-section a:hover {
    color: rgb(109, 109, 109);
    text-shadow: 0px 1px darkgrey;
}


/* Details Section */
.details {
    padding: 50px 25%;
    background-image: linear-gradient(#ffffff, #EE6C4D);
}

.details-title {
    background-color: #EE6C4D;
    border: 2px solid #293241;
    border-radius: 25px;
    padding: 3px;
    margin: 0 15% 10px 15%;
}

.details-section {
    min-height: 350px;
    background-color: #293241;
    border: 3px solid #EE6C4D;
    border-radius: 40px;
    box-shadow: 3px 3px 5px 5px #293241;
    padding: 50px 50px 20px 50px;
    color: #ffffff;
}

.details-section .key {
    color: #EE6C4D;
    margin-top: 10px;
    text-align: right;
}

.details-section .value {
    color: rgb(238, 238, 238);
    text-align: left;
    margin-top: 10px;
}

.details-section a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
    padding: 5px;
    border-radius: 10px;
    filter: brightness(87.5%);
    margin: 5px;
}

.details-section a:hover {
    filter: brightness(100%);
}

.btn-back {
    background-color: green;
    box-shadow: 2px 2px 3px 0px green;
}

.btn-delete {
    background-color: red;
    box-shadow: 2px 2px 3px 0px red;
}


/* Mobile Styling */
@media screen and (max-width: 695px) {
    .navbar {
        min-height: 50px;
        justify-content: start;
    }

    .navbar a {
        display: block;
    }

    .navbar #myLinks {
        display: none;
        width: 100%;
    }
    
    .navbar a.icon {
        background: #EE6C4D;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid #ddd;
        border-radius: 10px;
    }
    
    .navbar a:hover {
        background-color: #ddd;
        color: #ffff;
    }

    p, h1, h2, h3 {
        text-align: center;
    }

    .mobile-line {
        display: inherit;
    }

    #front-page {
        background-image: url('../img/front-photo-potrait.jpg');
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vw;
    }

    h1 {
        font-size: 10vw;
    }

    h3 {
        font-size: 3.8vw;
    }

    .white-line {
        display: none;
        bottom: 15vw;
    }

    .right-border {
        border: 0px;
    }

    .about-img {
        width: 135px;
        margin-bottom: 20px;
    }

    .value {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .skill {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .project-list {
        filter: brightness(95%);
    }

    .project-list p {
        font-size: 3.5vw;
    }

    .hobby-section {
        margin: 10px;
        max-width: 300px;
    }

    .form {
        padding: 30px 5%;
    }

    .course-section {
        margin: 5px;
    }

    .details {
        padding: 30px 10%;
        min-height: 120vw;
        text-align: center;
    }

    .details-section .key, .details-section .value {
        text-align: center;
        margin-top: 0px;
    }
  }
