html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    color: #293241;
}

h1, h2, h3, h4 {
    color: #293241;
}

span {
    color: #EE6C4D;
}

/* Front Page Greeting Styling */
.greeting {
    height: 100%;
    top: 49px;
    position: relative;
    text-align: center;
    color: #ffffff;
}

.greeting img {
    min-width: 100%;
    z-index: 0;
}

.greeting h1 {
    position: absolute;
    top: 50%;
    left: 50%;
}

.greeting h2 {
    font-weight: lighter;
}

.greeting hr {
    color: #ffffff;
    width: 30%;
}

.hobbies-list {
    padding: 5px;
    color: lightgray;
    background-color: #293241;
    border: solid 2px #EE6C4D;
}

.hobbies-list img {
    height: 200px;
    width: auto;
}

.contact {
    background-color: #293241;
    padding: 10px 30% 5px 30%;
    bottom: 0px;
}