html, body {
    background-color: #ebebeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    color: #000000;
}

h1, h2, h3, h4 {
    color: navy;
}

span {
    color: darkorange;
}

/* Navigation bar styling */
.navbar {
    position: absolute;
    top: 0px;
    padding: 3px;
    color: #ffffff;
    background-color: darkorange;
}

.navbar ul {
    list-style: none;
}

/* Front Page Greeting Styling */
.greeting {
    position: relative;
}

.greeting img {
    min-width: 100%;
    z-index: 1;
}

.greeting h1 {
    color: #ffffff;
}

.greeting h2 {
    font-weight: lighter;
}

.greeting hr {
    color: #ffffff;
    width: 30%;
}

/* About Styling */
.about {
    background-color: #ffffff;
    padding: 20px 10% 20px 10%;
    display: flex;
    flex-direction: row;
}

.about .about-desc {

}

.about-details-table {

}

.about-details-skills {

}

.hobbies {

}

.hobbies-list {
    padding: 5px;
    color: lightgray;
    background-color: navy;
    border: solid 2px darkorange;
}

.hobbies-list img {
    height: 200px;
    width: auto;
}

.contact {
    background-color: navy;
    padding: 10px 30% 5px 30%;
    bottom: 0px;
}