body {
    /* background-color: #ebebeb; */
    background-color: #f8f7ff;
    color: #000000;
    padding: 25px;
}

.header {
    background-color: #9381ff;
}

.container {
    margin: 10px;
}

.container img {
    height: 2000px;
    width: auto;
}